@tailwind base;
@tailwind components;
@tailwind utilities;
  

.custom-img {
    background-image: url(/shoes2.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.promo-1 {
    background-image: url("/shoes2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.promo-2 {
    background-image: url("/promo-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}